<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49999196527-ivufeatdlubjlsv231432067tuethohi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49999196527-ivufeatdlubjlsv231432067tuethohi</string>
	<key>API_KEY</key>
	<string>AIzaSyC87wsYaMaQB9_gpM7cVi4d7r6H3TlvZ_A</string>
	<key>GCM_SENDER_ID</key>
	<string>49999196527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotesPracticeproject</string>
	<key>PROJECT_ID</key>
	<string>notes-prac-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-prac-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49999196527:ios:0581bc4f6108dea5c0f89a</string>
</dict>
</plist>